* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  background-color: #fff;
}

hr {
  border-top: 1px solid #0036f7;
}

p {
  padding: 0;
  margin: 0;
}

p.title {
  padding-bottom: 15px;
}

a:link {
  font-family: 'Times New Roman', serif;
  color: #0036f7;
}

a:visited {
  color: #0036f7;
}

a.back-button {
  margin-top: 30px;
}

.container {
  margin: auto;
  padding-top: 30px;
  width: 50rem;
}

.top-bar {
  width: 100%;
}

.info {
  display: inline-block;
  width: 40%;
}

.contact {
  display: inline-block;
  float: right;
  text-align: right;
}

.contact ul {
  list-style: none;
}

#entries {
  list-style: none;
  padding-left: 0;
}

.entry {
  padding: 15px 0px;
}

#journal-list {
  width: 100%;
  padding-top: 50px;
}

.entry-title {
  display: inline-block;
}

.entry-author {
  display: inline-block;
  float: right;
}

.entry-excerpt {
  width: 45%;
  display: none;
}
